<h1>Listing books</h1>
<ol id="rankings"> <% @books.each do |book| %>
  <% if book.id.odd? %>
    <li class="sortable"><%= book.name %></li>
  <% else %>
    <li class=""><%= book.name %></li>
  <% end %>
<% end %></ol>
<%= link_to 'New book', new_book_path %>
